
NEXT_PUBLIC_BASE_URL="https://fleet.antiksef.online/public"

# Meta/WhatsApp OAuth (Facebook SDK)
NEXT_PUBLIC_WHATSAPP_APP_ID=""
NEXT_PUBLIC_WHATSAPP_CONFIG_ID=""
NEXT_PUBLIC_META_APP_ID=""
NEXT_PUBLIC_META_CONFIG_ID=""