CI = false
#staging_urls
REACT_APP_BASE_URL="https://fleet.antiksef.online/public"
REACT_APP_CLOUD_URL="https://res.cloudinary.com/dtcmozf4d/image/upload/v1/"
#cloudinary
REACT_APP_BOUTIQUE_BANNERS_PATH="boutiques/boutiques/"
REACT_APP_BOUTIQUE_ICON_PATH="boutiques/boutiques/icon/"
REACT_APP_CATEGORY_ICON_PATH="category/"
REACT_APP_BRAND_ICON_PATH="brand/"
