global
    maxconn 4096
    daemon
    user haproxy

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
	acl url_home path /
	acl url_home path_beg /signup
	acl url_home path_beg /forgot-password
	acl url_home path_beg /signin
	acl url_home path_beg /verify-email
	acl url_home path_beg /setup-mfa
	acl url_home path_beg /privacy-policy
	acl url_home path_beg /cookie-policy
	acl url_home path_beg /terms-and-conditions
	acl url_home path_beg /primarylogo.svg
	acl url_home path_beg /home
	acl url_home path_beg /home/_next/static
	acl url_home path_beg /home_images/*
	use_backend backend_home_app if url_home

	acl url_admin_ui path_beg /admin
    acl url_admin_ui path_beg /static_admin/_next/static
    use_backend backend_admin_app if url_admin_ui

	acl url_merchant_ui path_beg /dashboard
	acl url_merchant_ui path_beg /_next/static
	use_backend backend_merchant_app if url_merchant_ui

	acl url_auth_api path_beg /api/
	use_backend backend_auth_api if url_auth_api

backend backend_home_app
    server home_app1 host.docker.internal:3000 check

backend backend_admin_app
    server home_app1 host.docker.internal:3001 check

backend backend_merchant_app
    server home_app1 host.docker.internal:3002 check


backend backend_auth_api
	server api_app1 10.0.4.228:80 check

