global
    maxconn 4096
    daemon
    quiet
    user haproxy
    lua-load /usr/local/etc/haproxy/lua/main.lua
    
    # Send logs to stdout with debug level to capture timing information
    log stdout format raw local0 debug

	tune.bufsize 10485760

defaults
    # Enable logging for this frontend
    log global
 
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    
    # Custom error files
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http

frontend http-in

    bind *:80
    #bind *:443 ssl crt /usr/local/etc/haproxy/certs/site1.pem

	option forwardfor
	option http-keep-alive	
	option http-buffer-request
    option httplog

    # Add a unique ID header to each request if not already present
    unique-id-header X-Vision-Request-ID
    
    # Capture User-Agent header for logging
    capture request header User-Agent len 128
	capture request header Referer len 128
	capture request header Host len 128
    
    # Define unique ID format (UUID v4 format)
    unique-id-format %[uuid()]
    
    # Define JSON log format
   	log-format '{"timestamp":"%t","request_id":"%ID", "client_ip":"%ci", "status":"%ST","method":"%HM", "path":"%HP","process_time_ms":%ms}'

	# No authentication required routes
    acl is_nologin_required path /
    acl is_nologin_required path_beg /signup
    acl is_nologin_required path_beg /verify-email
    acl is_nologin_required path_beg /setup-mfa
    acl is_nologin_required path_beg /home/_next/static
    acl is_nologin_required path_beg /signin
    acl is_nologin_required path_beg /verify-2fa
    acl is_nologin_required path_beg /forgot-password
	acl is_nologin_required path_beg /api/v1/mfa/challenge
	acl is_nologin_required path_beg /api/v1/mfa/verify
	acl is_nologin_required path_beg /api/v1/forgot-password
	acl is_nologin_required path_beg /api/v1/reset-password
	acl is_nologin_required path_beg /api/v1/login
	acl is_nologin_required path_beg /api/v1/is_authenticated
	acl is_nologin_required path_beg /api/v1/healthcheck
	acl is_nologin_required path_beg /api/v1/role-permissions
	acl is_nologin_required path_beg /api/v1/transactions/webhooks/fireblocks
	acl is_nologin_required path_beg /api/v1/auth/mfa/reset
    acl is_nologin_required path_beg /api/v1/merchants/
    acl is_nologin_required path_beg /api/v1/verify-email
    acl is_nologin_required path_beg /api/v1/invites/
    acl is_nologin_required path_beg /api/v1/signup
    acl is_nologin_required path_beg /api/v1/merchants/register
	acl is_nologin_required path_beg /privacy-policy
	acl is_nologin_required path_beg /terms-and-conditions
    acl is_nologin_required path_beg /favicon


    acl url_home path /
    acl url_home path_beg /signup
    acl url_home path_beg /verify-email
    acl url_home path_beg /setup-mfa
    acl url_home path_beg /home/_next/static
    acl url_home path_beg /signin
    acl url_home path_beg /verify-2fa
    acl url_home path_beg /forgot-password
	acl url_home path_beg /privacy-policy
	acl url_home path_beg /terms-and-conditions
    acl url_home path_beg /favicon

    acl url_docs_app path_beg /swagger-ui
    acl url_docs_app path_beg /docs

    acl url_transaction_api path_beg /api/v1/transactions
    acl url_wallet_api path_beg /api/v1/wallets
    acl url_reports_api path_beg /api/v1/reports
    acl url_auth_api path_beg /api/
    
    acl url_admin_ui path_beg /admin
    acl url_admin_ui path_beg /static_admin/_next/static

    #acl url_merchant_ui path_beg /static_dashboard/_next/static

    acl url_merchant_ui path_beg /_next/static
    acl url_merchant_ui path_beg /dashboard

    # Set basic headers
    http-request lua.set_basic_hdrs

    # Call Lua function to validate authentication of the request
    # Don't need to validate auth for auth-service apis, as the auth is handled by default in it.
    http-request lua.verify_auth if !is_nologin_required

    # Check authentication result
    acl is_authenticated var(txn.is_auth_success) -m bool

	# Chekc if user has access to the requested resource
	acl is_authorized  var(txn.has_permission) -m bool
 
    # Check if request is from a browser
    acl has_user_agent req.hdr(User-Agent) -m found
    acl is_from_browser req.hdr(User-Agent) -m sub -i mozilla
    acl is_from_browser req.hdr(User-Agent) -m sub -i webkit
    acl is_from_browser req.hdr(User-Agent) -m sub -i chrome
    acl is_from_browser req.hdr(User-Agent) -m sub -i safari
    acl is_from_browser req.hdr(User-Agent) -m sub -i edge
    
    # Redirect unauthenticated browser users to signin
    http-request redirect location /signin if !is_nologin_required !is_authenticated has_user_agent is_from_browser
    
    # Return 401 Unauthorized with JSON response for non-browser requests (APIs)
    http-request deny deny_status 401 content-type "application/json" string '{"success":false,"message":"Unauthorized","error":"No authentication token provided"}' if !is_nologin_required !is_authenticated !is_from_browser
    
    # If user is already authenticated and trying to access signin, signup, forgot-password endpoints, redirect to home page
	http-request redirect location / if is_authenticated is_nologin_required
 
	# Return 403 Forbidden with JSON response for non-browser requests when authenticated but not authorized
	http-request deny deny_status 403 content-type "application/json" string '{"success":false,"message":"Access denied","error":"You are not authorized to access this resource."}' if is_authenticated !is_authorized !is_from_browser
	
	# Use custom 403 error file for browser requests when authenticated but not authorized
	http-request deny deny_status 403 if is_authenticated !is_authorized is_from_browser

    # Route requests based on URL
    acl is_stats path_beg /haproxy-stats
    use_backend stats-backend if is_stats
    use_backend backend_home_app if url_home
    use_backend backend_reports_api if url_reports_api
    use_backend backend_wallet_api if url_wallet_api
    use_backend backend_transaction_api if url_transaction_api
    use_backend backend_docs_app if url_docs_app
    use_backend backend_auth_api if url_auth_api
    use_backend backend_admin_app if url_admin_ui
    use_backend backend_merchant_app if url_merchant_ui

backend backend_home_app
    option httpchk GET /
    server home_app1 host.docker.internal:3000 check fall 3 rise 2 inter 30000 resolve-prefer ipv4

backend backend_admin_app
    option httpchk GET /admin
    server admin_app1 host.docker.internal:3001 check fall 3 rise 2 inter 30000 resolve-prefer ipv4

backend backend_merchant_app
    option httpchk GET /dashboard
    server merchant_app1 host.docker.internal:3002 check fall 3 rise 2 inter 30000 resolve-prefer ipv4

backend backend_docs_app
    server docs_app_1 host.docker.internal:8096 check fall 3 rise 2 inter 30000 resolve-prefer ipv4

backend backend_reports_api
	option httpchk GET /api/v1/reports/healthcheck
	server reports_api_1 host.docker.internal:8095 check fall 3 rise 2 inter 30000 resolve-prefer ipv4

backend backend_transaction_api
	option httpchk GET /api/v1/transactions/healthcheck
	server transaction_api_1 host.docker.internal:8090 check fall 3 rise 2 inter 30000 resolve-prefer ipv4

backend backend_wallet_api
	option httpchk GET /api/v1/wallets/healthcheck
	server wallet_api_1 host.docker.internal:8085 check fall 3 rise 2 inter 30000 resolve-prefer ipv4

backend backend_auth_api
	option httpchk GET /api/v1/healthcheck
	server auth_api_1 host.docker.internal:8081 check fall 3 rise 2 inter 30000 resolve-prefer ipv4

# Stats backend for monitoring
backend stats-backend
    stats enable
    stats uri /
    stats refresh 10s
    stats show-legends
    stats show-node
